body {
    background: rgb(235, 157, 218);
    color: rgb(255, 2, 179);

}
.principal {
    background: rgb(180, 130, 182);
}
.segunda {
    background: rgb(119, 0, 255);
    color: black;
}